[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==20.8b1"

[packages]
django-appconf = "==1.0.3"
django-imagekit = "==4.0.2"
pilkit = "==2.0"
sqlparse = "==0.3.0"
Django = "==3.1.6"
Pillow = ">=6.2.2"
python-dotenv = "*"

[requires]
python_version = "3.7"
