absl-py==0.7.1
astor==0.8.0
astroid==2.2.5
autopep8==1.4.3
certifi==2019.3.9
Django==2.1.7
django-appconf==1.0.3
django-imagekit==4.0.2
gast==0.2.2
grpcio==1.21.1
imagekit==1.0.6
isort==4.3.15
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.3.1
lxml==4.2.4
Markdown==3.1.1
mccabe==0.6.1
mock==3.0.5
neologdn==0.4
pdfminer.six==20181108
pilkit==2.0
Pillow==6.0.0
protobuf==3.8.0
psycopg2==2.8.2
pycodestyle==2.5.0
pycryptodome==3.8.1
pylint==2.3.1
PyQt5==5.10.1
PyQt5-sip==4.19.15
pytz==2018.9
sip==4.19.8
six==1.12.0
termcolor==1.1.0
wrapt==1.11.1
