{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      href="{% static 'accounts/style.css' %}"
      type="text/css"
    />
  </head>
  <body>
    <section class="common-form">
      <form id="signup-panel" method="post">
        <h1>Sign up</h1>
        {% csrf_token %}
        <fieldset id="inputs">
          {{ form.username }}
          {{ form.password1 }}
          {{ form.password2 }}
        </fieldset>
        <fieldset id="actions">
          <button type="submit" id="submit">Sign up</button>
          <a href="../">Cancel</a>
        </fieldset>
      </form>
    </section>
  </body>
</html>
