body {
  font: 12px "Lucida Sans Unicode", "Trebuchet MS", Arial, Helvetica;
  background-color: #d5f1ff;
}

#center-panel {
  background-color: #fff;
  background-image: -webkit-linear-gradient(top, #fff, #eee);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2),
    0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff,
    0 7px 0 rgba(0, 0, 0, 0.2);
}

#center-panel {
  position: absolute;
  z-index: 0;
  height: 240px;
  width: 400px;
  margin: -150px 0 0 -230px;
  padding: 30px;
  top: 50%;
  left: 50%;
  border-radius: 3px;
}

#center-panel:before {
  content: "";
  position: absolute;
  z-index: -1;
  border: 1px dashed #ccc;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  box-shadow: 0 0 0 1px #fff;
}

h1 {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0px 2px 0 rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  width: 400px;
  color: #666;
  margin: 0 0 30px 0;
  letter-spacing: 4px;
  font: normal 26px/1 Verdana, Helvetica;
  position: relative;
}

h1:after,
h1:before {
  background-color: #777;
  content: "";
  height: 1px;
  position: absolute;
  top: 15px;
  width: 120px;
}

h1:after {
  right: 0;
}

h1:before {
  background-image: linear-gradient(right, #777, #fff);
  left: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  display: block;
  min-inline-size: min-content;
}

#inputs input {
  background: #f1f1f1;
  width: 353px;
  padding: 15px 15px 15px 30px;
  margin: 0 0 10px 0;
  outline: none;
  box-shadow: 0 0 1px 1px #ccc inset, 0 1px 0 #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

#actions {
  margin: 25px 0 0 0;
}

#actions a {
  float: right;
  line-height: 35px;
  margin-left: 10px;
}

#submit {
  background-color: #ffb94b;
  background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
  border-radius: 3px;
  float: left;
  width: 120px;
  height: 35px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border-width: 1px;
  border-style: solid;
  border-color: #d69e31 #e3a037 #d5982d #e3a037;
  font: bold 15px Arial, Helvetica;
  color: #8f5a0a;
}
