body {
  font-family: Meiryo;
  overflow-x: hidden;
  width: 100vw;
}
h2 {
  padding: 0.5% 1.5%;
  color: #494949;
  background: transparent;
  border-left: solid 5px #7db4e6;
}
.container {
  max-width: 80%;
}

.top-bg {
  background-color: #b0c4de;
}

/* テーブルレイアウト */
table.pay_histry {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 0;
}
th {
  color: #005ab3;
}
td#table {
  border-bottom: 1px dashed #999;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}
.pay_history::-webkit-scrollbar {
  display: none;
}
th,
tr:last-child td {
  border-bottom: 2px solid #005ab3;
}
td.pay_history,
th.pay_history {
  padding: 10px;
}
tr.table_data {
  width: 100%;
  display: flex;
}

thead.pay_history {
  width: 100%;
}

tbody.pay_history {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 1010%;
  height: 400px;
}

/* フォームレイアウト */
.date {
  width: 10%;
  table-layout: fixed;
}
.use {
  width: 40%;
  table-layout: fixed;
}
.category {
  width: 15%;
  table-layout: fixed;
}
.cost {
  width: 20%;
  table-layout: fixed;
}
.delete {
  width: 15%;
  table-layout: fixed;
}
.input {
  display: inline;
  vertical-align: middle;
  table-layout: fixed;
}

.total {
  font-size: 2.5em;
}
