body{
  font-family: Meiryo;
}

table.pay_histry{
  table-layout: fixed;
  border-collapse:collapse;
  margin:0 0;
}
th{
  color:#005ab3;
}
td.pay_histry{
  border-bottom:1px dashed #999;
}
th, tr:last-child td{
  border-bottom:2px solid #005ab3;
}
td.pay_histry, th.pay_histry{
  padding:10px;
}

.date{
  width: 80px;
}
.use{
  width: 400px;
  table-layout: fixed;
}
.category{
  width: 100px;
}
.cost{
  width: 120px;
}
.delete{
  width: 80px;
}

thead.pay_histry, tbody.pay_histry {
  display: block;
}
tbody.pay_histry {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 550px;
}

h2 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
}

.container {
    max-width: 90%;
}

.top-bg{
    background-color: #b0c4de;
}

.total{
  font-size: 2.5em;
}
